<!DOCTYPE html>
<html lang="en">
<head>
    <head  th:replace="fragments :: page_head('Error - Shopme Admin', 'none')" />
<body>
    <!-- Spring will automatically detect this page -->
    <div class="container-fluid">

      <div th:replace="navigation :: menu"></div>


      <div class="container-fluid">
        <div class="text-center"> <!-- eg. when sortField is wrong-->
            <h2>Sorry, the server has encountered an error while processing your request </h2>
        </div>


        <div class="text-center">
          <p>Shopme Control Panel - Copyright &copy; Shopme</p>
        </div>
      </div>
    </div>

</body>
</html>