<!DOCTYPE html>
<html lang="en">
<head>
    <head  th:replace="fragments :: page_head('Error - Shopme Admin', 'none')" />
<body>
    <!-- Spring will automatically detect this page -->
    <div class="container-fluid">

      <div th:replace="navigation :: menu"></div>


      <div class="container-fluid">
        <div class="text-center"> <!-- eg. when sortField is wrong-->
            <img th:src="@{/images/Internal-Server-Error.png}" width="480" height="360" />
            <h1 class="ud-heading-serif-xxl error__greeting">
                Sorry, the server has encountered an error while processing your request
            </h1>
        </div>


        <div class="text-center">
          <p>Shopme Control Panel - Copyright &copy; Shopme</p>
        </div>
      </div>
    </div>

</body>
</html>