 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <body>

        <div th:fragment="content" th:remove="tag">
            <div class="m-2">
                <label>Short Description:(Max Size : 1500 Character)</label>
                <textarea class="form-control" th:field="*{shortDescription}" rows="5" maxlength="1500" required></textarea>
            </div>

            <div class="m-2">
                <label>Full Description:(Max Size : 3500 Character)</label>
                <textarea class="form-control" th:field="*{fullDescription}" maxlength="3500" rows="10" required></textarea>
            </div>
        </div>

    </body>
</html>