<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments :: page_head('Users - Shopme Admin', 'none')" />
<body>
    <div class="container-fluid">

        <div th:replace="navigation :: menu"></div>

        <div>
            <h2>Manage Users</h2>
            <a th:href="@{/users/new}" class="fa-sharp fa-solid fa-user-plus fa-2x icon-dark mr-2" title="Create New User"></a>

<!--            <a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x icon-dark" title="Export to CSV"></a>-->

<!--            <a th:href="@{/users/export/excel}" class="fa-solid fa-file-excel fa-2x icon-dark mr-2" title="Export to Excel"></a>-->

<!--            <a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark" title="Export to PDF mr-2"></a>-->
        </div>

        <div th:if="${message != null}" class="alert alert-success text-center"> <!-- success msg for new user created -->
            [[${message}]]
        </div>
        <div th:if="${error_message != null}" class="alert alert-danger text-center"><!-- error msg when user not found -->
            [[${error_message}]]
        </div>

        <!---------------------------- search filter -------------------------->
        <div th:replace="fragments :: search_form('/users/page/1')"></div>

        <!------------------------------------------------------------------>
        <div class="full-details">
            <table class="table table-responsive-xl table-bordered table-striped table-hover">
               <thead class="thead-dark">
                   <tr>

                       <th class="hideable-column">
                            <th th:replace="fragments :: column_link('/users' ,'id', 'User ID', 'tag')"/>
                       </th>

                       <th>Photos</th>

                       <th class="hideable-column">
                           <th th:replace="fragments :: column_link('/users','email', 'E-mail', 'tag' )"/>
                       </th>
                       <th th:replace="fragments :: column_link('/users','firstName', 'First Name', 'none')"></th>

                       <th th:replace="fragments :: column_link('/users','lastName', 'Last Name', 'none')"></th>

                       <th>Roles</th>

                       <th th:replace="fragments :: column_link('/users', 'enabled', 'Enable Status', 'none')"></th>
<!--                       <th>-->
<!--                           <a th:if="${sortField != 'enabled'}" class="text-white"-->
<!--                              th:href="@{'/users/page/' + ${currentPage} + '?sortField=enabled&sortDir='+${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">-->
<!--                               Enabled-->
<!--                           </a> &lt;!&ndash; toggal the sorting order on clicking on enabled &ndash;&gt;-->
<!--                           <a th:if="${sortField == 'enabled'}" class="text-white"-->
<!--                              th:href="@{'/users/page/' + ${currentPage} + '?sortField=enabled&sortDir='+${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">-->
<!--                               Enabled-->
<!--                           </a>-->

<!--                           <span th:if="${sortField == 'enabled'}"-->
<!--                                 th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fas fa-sort-down'}">-->
<!--                           </span>-->
<!--                       </th>-->
                   </tr>
               </thead>

               <tbody>
                    <tr th:each="user : ${allUser}">
                        <td class="hideable-column" th:text="${user.id}"></td>
                        <td>
                            <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-dark"></span>

<!--                            <img th:if="${user.photos != null}" th:src="@{${user.photoImagePath}}" style="width:100px">-->
                            <img th:if="${user.photos != null}" th:src="@{${user.preSignedURL}}" style="width:100px">
                        </td>
                        <td  class="hideable-column" th:text="${user.email}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
<!--                        <td th:text="${user.roles}"></td>-->
                        <td>
                            <th:block th:each="role : ${user.roles}">
                                <span class="badge badge-secondary" th:text="${role.name}"></span>
                            </th:block>
                        </td>

                        <td> <!-- for enabled and disabled  -->
                            <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
                        </td>
                        <td>
                            <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"> </div>
                            &nbsp;&nbsp;
                            <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"> </div>
                        </td>
                        <!-- we can use also -->
                        <!--<td>[[${user.id}]]</td>-->
                    </tr>
               </tbody>
            </table>
        </div>

        <div class="less-details">
            <div th:each="user : ${allUser}" class="row m-1">
                <div class="col-4">
                    <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-dark"></span>

                    <img th:if="${user.photos != null}" th:src="@{${user.photoImagePath}}"
                         style="width:100px">               <!-- user class mai method-->
                </div>
                <div class="col-8">
                    <div>[[${user.fullName}]]</div>
                    <div>[[${user.roles}]]</div>
                    <div class="mt-2">
                       <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
                        &nbsp;
                       <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"> </div>
                        &nbsp;
                       <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"> </div>
                    </div>
                </div>
                <div>&nbsp;</div>
            </div>
        </div>

        <!-- to show page navigation, this will be show only if there are users -->
        <div th:replace="fragments :: pagination('/users', 'users')"></div>

                 <!----------------- popup warning  --------------->
        <div th:replace="modal_fragment :: confirm_modal"></div>


        <div th:replace="fragments:: footer"></div>

        <script type="text/javascript">
            $(document).ready(function(){
                $(".link-delete").on("click", function(e){ // link-delete is the class of the link <a> </a> int fragments :: delete
                    e.preventDefault(); // Otherwise it will directly hit the url and delete the user
                    link = $(this);
                    userId = link.attr("userId");
                    $("#yesButton").attr("href", link.attr("href"));
                    $("#confirmText").text("Are you sure you want to delete this user ?");
                    $("#confirmModal").modal();
                });
            });

            function clearFilter(){
                window.location = "[[@{/users}]]";
            }

        </script>
    </div>
</body>
</html>